/* App.css */
body {
  font-family: monospace;
    unicode-bidi: isolate;
  background-color: #2c3e50;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(59, 58, 58, 0.9);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.subtitle {
  font-size: 1.2em;
  color: #0ff;
  margin-bottom: 30px;
}

#loadUsers {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 30px;
}

#randomapi {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 50px;
}

.sponsored {
  margin-top: 30px;
  margin-bottom: 50px;
}

.App {
  position: relative;
  z-index: 0;
}


.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-left-color: white; 
  border-radius: 50%;
  width: 12px;
  height: 12px;
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
